a{
  text-decoration: none;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left{
  width: 160px;
  margin: 5px 35px;
}

.header-right{
  display: flex;
  color: #727272;
}

.header-nav-item{
  list-style: none;
  margin-right: 20px;
}

body{
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.wrapper{
  position: relative;
}

.image{
  width: 60%;
  display: block;
  margin: 0 0 0 auto;
}

.title {
  font-family: 'Indie Flower', cursive;
  color: #b31667;
  position: absolute;
  top: 20%;
  left: 15%;
  font-size: 60px;
}

.title-copy{
  color: #06A1B3;
}

.description{
    color: #b31667;
    position: absolute;
    top: 50%;
    left: 15%;
    font-size: 30px;
    font-weight: bold;
}

.description2{
  position: absolute;
  top: 60%;
  left: 15%;
  color: #727272;
  letter-spacing: 0.05em;
}

.wrapper2{
  padding: 5% 20%;
}

.caption1{
  font-family: 'Indie Flower', cursive;
  color: #b31667;
}

.news{
  color: #727272;
  font-weight: bold;
  font-size: 20px;
}

.block{
  color: #727272;
  border-top: solid #D2D2D2 3px;
  border-bottom: solid #D2D2D2 3px;
  width: 80s%;
  margin-top: 1%;
}

.list{
  list-style: none;
  padding: 0.5em 0 0.5em 1.5em;
}

.list-item{
  border-bottom: solid #D2D2D2 1px;
  padding-top: 2%;
  padding-bottom: 2%;
}

.news-link{
  border-radius: 30px;
  background-color: #b31667;
  color: #ffffff;
  padding: 0 0.8em;
  margin: 0 2%;
}

.wrapper3{
    width: 100%;
    height: 400px;
    background-color: #F5F5F5;
    text-align: center;
}

.caption2{
  font-family: 'Indie Flower', cursive;
  color: #b31667;
  margin-top: 2%;
  display: inline-block;
  text-align: left;
}

.about{
  color: #727272;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 20px;
}

.box{
  display: flex;
  width: 90%;
  margin: 2% auto;
}

.image-box{
  margin-left: 2%;
}

.image2 {
  width: 60%;
}

.area {
  margin: 10px 0 0 20%;
  padding: 5px;
  color: #727272;
  font-size: 13px;

}

.text2{
  text-align: left;
  line-height: normal;
}

.text3{
  text-align: left;
  margin-top: 30px;
  line-height: normal;
}

.wrapper4{

    padding: 0 20% ;
}

.caption3 {
  margin-top: 4%;
  font-family: 'Indie Flower', cursive;
  color: #b31667;
}

.service {
  color: #727272;
  font-weight: bold;
  font-size: 20px;
}

.grid{
  display: grid;
  grid-template-rows: 170px 170px;
  grid-template-columns: 50% 50%;
  margin-top: 2%;
  margin-bottom: 5%;
  width: 100%;
}

.content1{
  background: #b31667;
  grid-column: 1/2;
  grid-row: 1/4;
  text-align: center;
}

.content2{
  background: #B35B8B;
  grid-column: 2/2;
  grid-row: 1/2;
}

.content3 {
  background: #B2889E;
  grid-column: 2/2;
  grid-row: 2/4;
}

.grid-image{
  width: 30%;
  margin-top: 5%;
}

h3{
  color: #ffffff;
}

.content-text{
  color: #ffffff;
  font-size: 13px;
  padding: 0 40px;
  margin: 10px 0;
  line-height: normal;
}

.grid-image2 {
  width: 30%;
  margin-top: 5%;
  margin-left: 3%;
  float: left;
}

.content-text2 {
  color: #ffffff;
  font-size: 13px;
  margin-top: 10px;
  line-height: normal;
}

.grid-title{
  margin-top: 2%;
}

.grid-title2{
  margin-top: 10%;
}

.wrapper5 {
  width: 100%;
  height: 450px;
  background-color: #F5F5F5;
  padding-top: 3%;
}

.blog-container{
  width: 70%;
  margin: 0 auto;
}

.caption4 {
  font-family: 'Indie Flower', cursive;
  color: #b31667;
}

.blog {
  color: #727272;
  font-weight: bold;
  font-size: 20px;
}

.blog-group{
  margin-top: 20px;
  display: flex;
}

.blog-box{
  position: relative;
  width: 240px;
  height: 280px;
  background: #ffffff;
  margin-right: 30px;
  border-radius: 20px;
}

.blog-image img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.blog-title{
  color: #727272;
  margin-bottom: 20px;
  font-size: 14px;
}

.blog-text{
  position: absolute;
  border-radius: 20px 0 0 0;
  background-color: #b31667;
  color: #ffffff;
  width: 25%;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 13px;
  padding: 8px 0;
}

.blog-content{
  padding: 20px;
}

.tag{
  display: flex;
  justify-content: space-between;
  color: #727272;
  font-size: 13px;
}

.more{
  border: 2px solid #b31667;
  background: #ffffff;
  border-radius: 30px;
  display: block;
  width: 150px;
  color: #b31667;
  margin: 30px 0 30px 30%;
  padding: 15px 20px;
  text-align: center;
}

.wrapper6 {

  padding: 5% 20%;
}

.caption5 {
  font-family: 'Indie Flower', cursive;
  color: #b31667;
}

.company {
  color: #727272;
  font-weight: bold;
  font-size: 20px;
}

table{
  margin: 20px 0;
  border: 1px solid #CBCBCB;
  text-align: left;
  color: #727272;
}

table th{
background: #F5F5F5;
border: 1px solid #CBCBCB;
padding: 15px 100px 15px 10px;
}

table td{
  border: 1px solid #CBCBCB;
  padding: 15px 250px 15px 10px;
}

.wrapper7{
  display: flex;
}

.link-group{
  position: relative;
  align-items: center;
}

.image3 img{
  width: 100%;
}

.link-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}

.wrapper8{
  padding-top: 2%;
  text-align: center;
  height: 200px;
  width: 100%;
  position: relative;
}

.link-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  margin-top: 40px;
}

.more2{
  color: #727272;
}

.more3{
  margin: 15px 0;
  color: #b31667;
  font-size: 30px;
}

.link-button {
  background-image: linear-gradient(150deg, rgb(247, 29, 139), rgb(186, 23, 106));
  border-radius: 30px;
  display: flex;
  width: 150px;
  height: 40px;
  color: #ffffff;
  padding: 10px 20px;
  text-align: center;
  box-shadow: 0 5px 0 #840050;
  justify-content: center;
  align-items: center;
}

.link-button::before{
  content: "";
  background: url(../img/mailicon.svg);
  background-size: cover;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.footer{
  background: #F5F5F5;
  text-align: center;
  padding: 20px 0;
}

.copyright{
  color: #727272;
  font-size: 13px;
}
